body {
  min-height: 100vh;
}

.App {
  color: var(--background-font-color);
  background-color: var(--background-bg-color);
  text-align: center;
  min-height: 100vh;
}

.workflow-container, .header-item-container {
  width: 60%;
  min-width: 350px;
  margin: auto;
}

.footer {
  width: 100%;
  margin: 80px 0 0 0;
  padding: 20px 0;
  border-top: solid var(--accent-bg-color) 2px;
  background-color: var(--background-bg-color);
}

.float-right {
  float: right;
}

@media (max-width: 1700px) {
  .workflow-container, .header-item-container {
    width: 80%;
  }
}
