.card-row{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.card-row-child {
    display: flex;
    flex: 999 0 40%;
    align-items: stretch;
    justify-content: center;
    min-width: 350px;
    margin: 0 20px 40px 20px;
}

.card-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--background-font-color);
    background-color: var(--background-bg-color);
    border: solid var(--accent-bg-color) 2px;
    padding: 20px;
    width: 100%;
}

.card-container.selected {
    border: solid var(--accent-bg-color) 5px;
    box-shadow: 2px 2px 5px var(--accent-bg-darker);
}

.card-container:hover {
    background-color: var(--background-bg-darker);
    border-color: var(--accent-bg-color);
    box-shadow: 2px 2px 5px var(--accent-bg-darker);
}

.card-container hr {
    border-color: var(--accent-bg-color);
}

.image-card-container {
    text-align: left;
    color: var(--background-font-color);
    border: solid var(--accent-bg-color) 2px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;
    background: var(--background-bg-color);
}

.image-card-container:hover {
    background-color: var(--background-bg-darker);
    border-color: var(--accent-bg-color);
    box-shadow: 2px 2px 5px var(--accent-bg-darker);
}

.card-image {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    margin: 0 20px;
}

.card-image.white {
    border-radius: 5px;
    padding: 30px;
    background-color: white;
}

.card-body-container {
    width: 40%;
    min-width: 300px;
    flex: 3;
}

.card-body-container hr {
    border-color: var(--accent-bg-color);
}

.card-body {
    flex-grow: 2;
}

.card-button-container {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.card-button {
    cursor: pointer;
    width: 60%;
    background-color: var(--primary-bg-color);
    opacity: 50%;
    border-radius: 0;
    border-width: 2px;
    border-color: var(--primary-bg-darker);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: large;
    color: var(--primary-font-color);
}
.card-button:hover {
    background-color: var(--primary-bg-darker);
    color: var(--primary-font-color);
}
