.card-container {
    border: solid black 2px;
    padding: 20px;
    box-shadow: 40px 10px 10px lightgray;
    height: 100%;
}

.card-container::after {
    content: "";
    clear: both;
    display: table;
  }

.card-image {
    width: 40%;
}

.card-body-container {
    width: 40%;
    margin: 0 10% 0 10%;
}

.card-button-container {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.card-button {
    width: 60%;
    background-color: white;
    opacity: 50%;
    border-radius: 0;
    border-width: 2px;
    border-color: lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: medium;
    color: black;
}
