.card-row{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-row-child {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    min-width: 300px;
    margin-bottom: 40px;
}

.card-container {
    border: solid black 2px;
    padding: 20px;
    box-shadow: 20px 10px 10px lightgray;
    width: 100%;
}

.image-card-container {
    border: solid black 2px;
    padding: 20px;
    box-shadow: 20px 10px 10px lightgray;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-image {
    width: 100%;
    flex: 300px 1;
    padding: 0 20px;
}

.card-body-container {
    width: 40%;
    min-width: 300px;
    flex: 3;
}

.card-button-container {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.card-button {
    width: 60%;
    background-color: white;
    opacity: 50%;
    border-radius: 0;
    border-width: 2px;
    border-color: lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: medium;
    color: black;
}
