.header {
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.header-item {
    height: 100%;
    width: auto;
    background-color: transparent;
    border-radius: 0;
    border-width: 0 2px 0 2px;
    border-color: lightgrey;
    padding: 20px;
    margin: 0 10px 0 10px;
    font-size: medium;
    font-weight: bold;
}

.header-item-selected {
    font-weight: bolder;
    background-color: cornflowerblue;
    border-color: black;
}