.icon-link-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.icon-link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: 10px;
    background-color: var(--accent-bg-color);
    color: var(--accent-font-color);
    border-radius: 10px;
}

.icon-link-container:hover {
    background-color: var(--accent-bg-darker);
    box-shadow: 2px 2px 5px var(--accent-bg-darker);
}

.icon-link-container > .icon {
    max-width: 20px;
    height: 20px;
    padding-right: 5px;
}

.icon-link-container > .text {
    margin: 0;
    height: 20px;
}

.icon-link-container > .text > a, a:visited {
    color: inherit;
    text-decoration: none;
}